@{ ViewBag.Title = "Flush/Purge"; }

<h2>Flushing and Purging</h2>

<p>
    One of the most important steps in ensuring a successful geothermal installation involves flushing, filling, and purging of the loop system. When and how you do this can mean the difference between a well installed system and one destined to be plagued with problems.

    It is extremely important that the geothermal loops are flushed of all contaminants such as dirt, HDPE shavings and other construction debris. It is also crucial that the system be purged of air to ensure design performance.

    IGSHPA standard velocity slowly moves air, but is not sufficient for moving solids contained in geothermal exchangers. Contaminants such as jobsite debris, soil, rocks, and other construction materials need up to 6 feet per second for removal from the system.
</p>

<p>
    --- FLOW RATE TESTING

    Our purge cart is equipped with an on board Ultrasonic flow meter to accurately measure the flow is GPM. The flow meter is also able to store the flow rate information and can later be uploaded to any computer for verification, and to be analyzed.
</p>

<p>
    ---PRESSURE TESTING

    Our purge cart is equipped with pressure gauges on both the supply and return sides, witch allow us to verify the pressure required to circulate the system in both directions, and verify the operating pressure set on the field.
</p>

<p>
    ---FILTRATION

    Our standard micron filter bags are high flow/volume filter bags typically used at 100 micron to ensure long-term cleanliness, but can be changed out to filter at almost any micron size required by our customers.
</p>

<p>
    ---CHEMICAL INTRODUCTION GYCAL AND INHIBITORS

    Our introduction of chemicals ensures no air or debris is added during this process and we are capable of injecting additives from barrel or tanker containers. We can also soften water to the desired system requirements to pro-long the life of the system.
</p>

<p>
    ---SERVICES

    >> SYSTEM FILL
    >> FLUSHING OF CONTAMINANTS
    >> PURGING OF AIR
    >> CHEMICAL AND SOFTENER APPLICATION
    >> PRESSURE TEST
</p>

</br>

<h2>Geothermal Purge Cart - Bruns Headering</h2>

<iframe width="640" height="390" src="//www.youtube.com/embed/X-o95JsxdGM" frameborder="0" allowfullscreen></iframe>

</br>
</br>

<a href="~/Images/Purge Cart Pump.pdf">Purge Cart Specs PDF</a>