 <!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <p>
                        Eric and Caleb Bruns:
                    </p>
                    <p>
                        <img src="~/Images/Pictures/IMG_9128e.jpg" alt="Bruns Bros" style="width:200px;height:200px">
                    </p>
                    <p>Call today about your upcoming geothermal needs!</p>
                </div><!--/col-md-3-->
                <!-- End About -->

                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline" id="contactinfo"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        525 South Byron Ave <br />
                        Tea, SD 57064 <br />
                        Phone: 507 530 4551 <br />
                        Fax: 605 498 4551 <br />
                        Email: <a href="mailto:ericgbruns@gmail.com" target="_blank" class="">ericgbruns@gmail.com</a>
                    </address>
                </div><!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2015 &copy; MDW - All Rights Reserved.
                    </p>
                </div>
                
                <a href="https://www.facebook.com/brunsheaderinginc" target="_blank">
                    <img src="@Url.Content("~/UnifyTheme/Unify-v1.7/HTML/assets/img/icons/social/FB-f-Logo__white_1024.png")"
                        alt="Facebook Link" style="width:42px;height:42px;border:0;">
                </a>

            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
