@Html.Partial("MainSlider")

@Html.Partial("MainText")

@Html.Partial("MainContentPart")

@Html.Partial("Footer")
      
    @*</div><!--/wrapper-->*@
    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/parallax-slider/js/modernizr.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/js/app.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="UnifyTheme/Unify-v1.7/HTML/assets/js/plugins/parallax-slider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
            ParallaxSlider.initParallaxSlider();
        });
    </script>

    <!--[if lt IE 9]>
        <script src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/respond.js"></script>
        <script src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/html5shiv.js"></script>
        <script src="UnifyTheme/Unify-v1.7/HTML/assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
