@{ ViewBag.Title = "List Of Jobs - Housing"; }
<h2>List Of Jobs - Housing</h2>

<table style="width:100%">

    <tr>
        <th><h3>PROJECT</h3></th>
        <th><h3>CITY/STATE</h3></th>
        <th><h3>BORES</h3></th>
    </tr>

    <tr>
        <td>Assisted Living Center</td>
        <td>Minot, ND</td>
        <td>39</td>
    </tr>
    <tr>
        <td>Taboacco Row Townhouses</td>
        <td>Madison, WI</td>
        <td>36</td>
    </tr>
    <tr>
        <td>Orness Plaza Apartments</td>
        <td>Mankato, MN</td>
        <td>96</td>
    </tr>
    <tr>
        <td>International Hotel</td>
        <td>Minot, ND</td>
        <td>114</td>
    </tr>
    <tr>
        <td>The Evangelical Luthern Good Samaritan Society - National Campus Improvements</td>
        <td>Sioux Falls, SD</td>
        <td>600</td>
    </tr>

</table>