@{ ViewBag.Title = "List Of Jobs - Business"; }
<h2>List Of Jobs - Business</h2>

<table style="width:100%">

    <tr>
        <th><h3>PROJECT</h3></th>
        <th><h3>CITY/STATE</h3></th>
        <th><h3>BORES</h3></th>
    </tr>

    <tr>
        <td>Karges Falcon Bridge INC.</td>
        <td>Roseville, MN</td>
        <td>48</td>
    </tr>
    <tr>
        <td>ICON Ag</td>
        <td>Lemars, IA</td>
        <td>54</td>
    </tr>
    <tr>
        <td>Aurora Cooperative Corporate Headquarters</td>
        <td>Aurora, NE</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Dakota Plains Federal Credit Bank</td>
        <td>Pierre, SD</td>
        <td>28</td>
    </tr>

</table>