@{ ViewBag.Title = "List Of Jobs - Educational"; }
<h2>List Of Jobs - Educational</h2>

<table style="width:100%">

    <tr>
        <th><h3>PROJECT</h3></th>
        <th><h3>CITY/STATE</h3></th>
        <th><h3>BORES</h3></th>
    </tr>

    <tr>
        <td>Douglas School District Vandenberg Elementary School</td>
        <td>Box Elder, SD</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Sally Battos Secondary School, addition and renovation</td>
        <td>Onida, SD</td>
        <td>96</td>
    </tr>
    <tr>
        <td>Muscatine CSD Jefferson Elementary School</td>
        <td>Muscatine, IA</td>
        <td>92</td>
    </tr>
    <tr>
        <td>State College Student Housing</td>
        <td>Chadron, NE</td>
        <td>70</td>
    </tr>
    <tr>
        <td>Clinton Middle School</td>
        <td>Clinton, IA</td>
        <td>230</td>
    </tr>
    <tr>
        <td>Harrisburg Elementary School</td>
        <td>Harrisburg, SD</td>
        <td>88</td>
    </tr>
    <tr>
        <td>Harrisburg High School/Athletic Complex</td>
        <td>Harrisburg, SD</td>
        <td>260</td>
    </tr>
    <tr>
        <td>Harrisburg Middle School</td>
        <td>Harrisburg, SD</td>
        <td>156</td>
    </tr>
    <tr>
        <td>Iowa Lakes Community College, Sustainable Energy Resource and Technology</td>
        <td>Estherville, IA</td>
        <td>60</td>
    </tr>
    <tr>
        <td>Brockton Elementary School</td>
        <td>Brockton, MT</td>
        <td>38</td>
    </tr>
    <tr>
        <td>SittingBull College Academic Building</td>
        <td>Fort Yates, ND</td>
        <td>80</td>
    </tr>
    <tr>
        <td>Clark College Student Activity Center</td>
        <td>Dubuque, IA</td>
        <td>48</td>
    </tr>
    <tr>
        <td>Crow Creek Tribal School</td>
        <td>Stephan, SD</td>
        <td>168</td>
    </tr>
    <tr>
        <td>Elkhorn Ridge Middle School</td>
        <td>Elkhorn, NE</td>
        <td>210</td>
    </tr>
    <tr>
        <td>Fort Yates Middle School</td>
        <td>Fort Yates, ND</td>
        <td>390</td>
    </tr>
    <tr>
        <td>Glenwood High School</td>
        <td>Glenwood, IA</td>
        <td>200</td>
    </tr>
    <tr>
        <td>ISU Dairy Animal Science Education and Discovery Facility Building </td>
        <td>Ames, IA</td>
        <td>14</td>
    </tr>
    <tr>
        <td>ISU Alumni Center</td>
        <td>Ames, IA</td>
        <td>81</td>
    </tr>
    <tr>
        <td>Kirkwood Community College Academic Building</td>
        <td>Cedar Rapids, IA</td>
        <td>144</td>
    </tr>
    <tr>
        <td>Alnold  Elementary School</td>
        <td>Lincoln, NE</td>
        <td>255</td>
    </tr>
    <tr>
        <td>UNL 18/19th Residence Projects</td>
        <td>Lincoln, NE</td>
        <td>84</td>
    </tr>
    <tr>
        <td>Lakeview Elementary School</td>
        <td>Lincoln, NE</td>
        <td>120</td>
    </tr>
    <tr>
        <td>LPS Campbell Elementary School</td>
        <td>Lincoln, NE</td>
        <td>18</td>
    </tr>
    <tr>
        <td>LPS Culler Middle School</td>
        <td>Lincoln, NE</td>
        <td>42</td>
    </tr>
    <tr>
        <td>LPS District Office</td>
        <td>Lincoln, NE</td>
        <td>180</td>
    </tr>
    <tr>
        <td>LPS Morley Elementary School</td>
        <td>Lincoln, NE</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Sheridan Elementary School</td>
        <td>Lincoln, NE</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Pound Middle School</td>
        <td>Lincoln, NE</td>
        <td>160</td>
    </tr>
    <tr>
        <td>LPS Roper Elementary</td>
        <td>Lincoln, NE</td>
        <td>90</td>
    </tr>
    <tr>
        <td>Irving Middle School</td>
        <td>Lincoln, NE</td>
        <td>225</td>
    </tr>
    <tr>
        <td>Oskaloosa Elementary School</td>
        <td>Oskaloosa, IA</td>
        <td>450</td>
    </tr>
    <tr>
        <td>Pella Christian High School</td>
        <td>Pella, IA</td>
        <td>72</td>
    </tr>
    <tr>
        <td>Will-Moore Elementary School</td>
        <td>Bismark, ND</td>
        <td>110</td>
    </tr>
    <tr>
        <td>Lisbon High School</td>
        <td>Lisbon, IA</td>
        <td>56</td>
    </tr>
    <tr>
        <td>Afton Elementary School</td>
        <td>Afton, IA</td>
        <td>80</td>
    </tr>
    <tr>
        <td>Council Bluffs Elementary School</td>
        <td>Council Bluffs, IA</td>
        <td>72</td>
    </tr>
    <tr>
        <td>Iowa City Middle School</td>
        <td>Iowa City, IA</td>
        <td>60</td>
    </tr>
    <tr>
        <td>Mandaree Elementary School</td>
        <td>Mandaree, ND</td>
        <td>42</td>
    </tr>
    <tr>
        <td>Parshall School</td>
        <td>Parshall, ND</td>
        <td>74</td>
    </tr>
    <tr>
        <td>Bismark State University National Energy Center of Excellence</td>
        <td>Bismark, ND</td>
        <td>420</td>
    </tr>
    <tr>
        <td>Gilber High School</td>
        <td>Gilbert, IA</td>
        <td>220</td>
    </tr>
    <tr>
        <td>East Marshall Senior High School</td>
        <td>LeGrand, IA</td>
        <td>98</td>
    </tr>
    <tr>
        <td>Waterloo Iowa Senior High School</td>
        <td>Waterloo, IA</td>
        <td>320</td>
    </tr>
    <tr>
        <td>Marshalltown Iowa Elementary School</td>
        <td>Marshalltown, IA</td>
        <td>48</td>
    </tr>
    <tr>
        <td>Dyersville Senior High School</td>
        <td>Dyersville, IA</td>
        <td>82</td>
    </tr>
    <tr>
        <td>Freeman Elementary School</td>
        <td>Freeman, SD</td>
        <td>96</td>
    </tr>
    <tr>
        <td>North Iowa Area Community College</td>
        <td>Mason City, IA</td>
        <td>94</td>
    </tr>
    <tr>
        <td>Linn-Mar CSD Novak Elementary School</td>
        <td>Marion, IA</td>
        <td>140</td>
    </tr>
    <tr>
        <td>Meskwaki Settlement High School</td>
        <td>Tama, IA</td>
        <td>126</td>
    </tr>
    <tr>
        <td>Francis Marron Intermediate School</td>
        <td>Marion, IA</td>
        <td>46</td>
    </tr>
    <tr>
        <td>CSC Rangeland Lab Building</td>
        <td>Chadron, NE</td>
        <td>40</td>
    </tr>

</table>

