@{ ViewBag.Title = "List Of Jobs - Healthcare"; }
<h2>List Of Jobs - Healthcare</h2>

<table style="width:100%">

    <tr>
        <th><h3>PROJECT</h3></th>
        <th><h3>CITY/STATE</h3></th>
        <th><h3>BORES</h3></th>
    </tr>

    <tr>
        <td>Big Fork Memory Care Hospital</td>
        <td>Big Fork, MN</td>
        <td>36</td>
    </tr>

</table>