@{ ViewBag.Title = "List Of Jobs - Government"; }
<h2>List Of Jobs - Government</h2>

<table style="width:100%">

    <tr>
        <th><h3>PROJECT</h3></th>
        <th><h3>CITY/STATE</h3></th>
        <th><h3>BORES</h3></th>
    </tr>

    <tr>
        <td>Antelope County Sheriff Department</td>
        <td>Neilgh, NE</td>
        <td>36</td>
    </tr>
    <tr>
        <td>Camp Ripley Education Complex, addition</td>
        <td>Little Falls, MN</td>
        <td>150</td>
    </tr>
    <tr>
        <td>Camp Ripley Training and Community Center</td>
        <td>Little Falls, MN</td>
        <td>138</td>
    </tr>
    <tr>
        <td>Iowa Maximum Security Prison</td>
        <td>Fort Madison, IA</td>
        <td>1056</td>
    </tr>
    <tr>
        <td>Veterans Affairs Regional Office</td>
        <td>Lincoln, NE</td>
        <td>135</td>
    </tr>
    <tr>
        <td>Lewis and Clark Vistors Center</td>
        <td>Onawa, IA</td>
        <td>60</td>
    </tr>
    <tr>
        <td>IDOT Motor Vehicle Facility</td>
        <td>Ankeny, IA</td>
        <td>120</td>
    </tr>
    <tr>
        <td>Crab Orchard NWR</td>
        <td>Marion, IL</td>
        <td>32</td>
    </tr>
    <tr>
        <td>Pierre Capital Lake Plaza, renovations</td>
        <td>Pierre, SD</td>
        <td>48</td>
    </tr>
    <tr>
        <td>Iowa Army Ammunition Plant</td>
        <td>Middletown, IA</td>
        <td>78</td>
    </tr>

    </table>

