<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2><i>QUALITY WORK</i> <br /> <i>ON EVERY JOB,</i> <br /> <i>GUARANTEED.</i></h2>
            <p><i>Contact Us Today!</i></p>
            <div class="da-img"><img class="img-responsive" src="Images\Pictures\Iowa State Maximum Security Prison\121.JPG" alt=""></div>
        </div>
        <div class="da-slide">
            <h2><i>CERTIFIED</i> <br /> <i>PROFESSIONALS</i></h2>
            <div class="da-img">
                <img src="~/Images/Pictures/igshpa.jpg" alt="IGSHPA" />
                <img src="~/Images/Pictures/NATE.jpg" alt="NATE" />
            </div>
        </div>
        <div class="da-slide">
            <h2><i>ULTRA HEAVY DUTY</i> <br /> <i>PURGE CART.</i></h2>
            <p><i>Power for the Biggest Jobs.</i></p>
            <div class="da-img"><img src="~/Images/Pictures/IMG_20130606_152238_707.jpg" alt="NGWA" /></div>
        </div>
        <div class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </div>
    </div>
</div><!--/slider-->
<!--=== End Slider ===-->
