<!--=== Purchase Block ===-->
<div class="purchase">
    <div class="container">
        <div class="row">
            <div class="col-md-9 animated fadeInLeft">
                <span>About Us.</span>
                <p>
                    Bruns Headering Inc. was founded in 2003 by Eric and Caleb Bruns. We are specialists in the tie-in installation of vertical and horizontal geothermal systems. Ranging from residential to large educational, religious, governmental, and commercial facilities. We have worked with over a dozen different drilling contractors in eight states on over 100 commercial projects in the headering tie-in, flushing, purging, chemical introduction, and pressure check aspects of the geothermal installation.

                    Bruns Headering Inc. is your "go to'' geothermal headering company. We are very proud of our work history and reputation. Bruns Headering Inc. has been involved in many high profile geothermal projects throughout the midwest. From the $130,000,000.00 Iowa Maximum Security Prison in Fort Madison, IA working alongside Union contractors in a PLA agreement. To the $71,000,000.00 UNL Nebraska Cornhuskers Housing Project.

                    We are equipped with all fusion and excavation equipment for any size job. All or employees are certified for HDPE and stay up to date on all the latest geothermal trends.
                </p>
            </div>
        </div>
    </div>
</div><!--/row-->
<!-- End Purchase Block -->
