@{ ViewBag.Title = "What Is Geothermal"; }

<h2>Energy 101: Geothermal Heat Pumps</h2>

<p>
    An energy-efficient heating and cooling alternative, the geothermal heat pump system moves heat from the ground to a building (or from a building to the ground) through a series of flexible pipe "loops" containing water. This edition of Energy 101 explores the benefits Geothermal and the science behind how it all comes together.
</p>

<iframe width="640" height="390" src="//www.youtube.com/embed/y_ZGBhy48YI" frameborder="0" allowfullscreen></iframe>

</br>

<h2>How a Ground Source Heat Pump Works for Commercial Buildings</h2>

<p>
    How a Ground Source Heat Pump Works for Commercial Buildings is a presentation about: Why geothermal heat pumps?, Benefits-Geothermal Heating and Cooling, How do you get earths energy?, How the earth works to save you energy! Cooling & Heating, Parts of a Ground Source Heat Pump System, types of GSHPS, cost and payback, and tax incentives 2008.
</p>

<iframe width="640" height="390" src="//www.youtube.com/embed/HhVLjCqf-u4" frameborder="0" allowfullscreen></iframe>

</br>

 


