@{ ViewBag.Title = "What We Do"; }

<h2>What We Do</h2>

<p>
    Bruns Headering Inc. works with geothermal drilling contractors and other companies. Our role in the geothermal installation is the Headering aspect of the install. We are equipped with all excavation and fusion equipment to header any size geothermal design. We have completed projects ranging from 14 bores to 1,052 bores. We also do the flushing, purging, water softening, and chemical induction, so that "Basically the driller just has to install the loops and we take care of the rest".  We have primarily been working with geothermal industry leaders Saathoff Incorporated, GHP Systems and over a dozen different geothermal drillers throughout the Midwest. Our goal on all of our projects is to install a trouble free system, be easy to work with, and complete on time.
</p>

